<h2 class="page-header">StudyU</h2>
<section class="auth-form">
  <h2 class="auth-section-header sub-header">Login</h2>
  <h3 class="formError">{{errorMsg}}</h3>

  <div>
    <!-- Email: -->
    <input placeholder="Email" class="form-input" type="text" autofocus="true" ng-model="account.email">
  </div>
  <div>
    <!-- Password: -->
    <input placeholder="Password" class="form-input" type="password" ng-model="account.password">
  </div>
  <div>
    <button class="button loginBtn" ng-click="login()">Login</button>
  </div>
</section>

<h2 class="or-header">
  <span>OR</span>
</h2>

<section class="auth-form registerSection">
  <h2 class="auth-section-header sub-header">Register a new account</h2>
  <h3 class="formError">{{errorMsg}}</h3>

  <div class="role-select-wrap">
    <!-- Role -->
    <label for "student" class="role-label">Student</label>
    <input class="radio" type="radio" name="student" value=2 ng-model="newAccount.role">
    <label for "administrator" class="role-label">Admin</label>
    <input class="radio" type="radio" name="administrator" value=1 ng-model="newAccount.role">
  </div>
  <div>
    <!-- Username: -->
    <input placeholder="Username" class="form-input" type="text" autofocus="true" ng-model="newAccount.username">
  </div>
  <div>
    <!-- Email: -->
    <input placeholder="Email" class="form-input" type="text" autofocus="true" ng-model="newAccount.email">
  </div>
  <div>
    <!-- Password: -->
    <input placeholder="Password" class="form-input" type="password" ng-model="newAccount.password">
  </div>
  <div>
    <!-- Password Confirmation: -->
    <input placeholder="Confirm password" class="form-input" type="password" ng-model="newAccount.passwordConf">
  </div>

  <div>
    <button class="button registerBtn" ng-click="register()">Register</button>
  </div>
</section>