<navbar></navbar>
<div class="home-view">

  <div class="course-containter">
    <h1 class="sub-header">Your Courses</h1>
    <div class="course-listing" ng-repeat="course in courses">
      <a ng-click="goToClass()">{{course.title}}</a>
    </div>

    <h1>Available Courses</h1>
    <div class="course-listing" ng-repeat="course in availableCourses">
      <p>{{course.title}}
        <a class="button is-primary is-outlined addCourse" ng-click="addCourse()">+</a>
      </p>
    </div>

  </div>
</div>