<navbar></navbar>
<div class="home-view">
  <!-- container -->
  <div class="course-containter">
    <!-- enrolled section -->
    <div class="enrolled-section">
      <h1 class="sub-header">Your Courses</h1>
      <div class="course-listing" ng-repeat="course in courses" href="#!/course/{{course.id}}/?user={{user.id}}">
        <a href="#!/course/{{course.id}}/?user={{user.id}}" class="course-title">{{course.title}}</a>
      </div>
    </div>
    <!-- available section (hide if none) -->
    <div class="available-section" ng-hide="!availableCourses.length">
      <h1 class="sub-header">Available Courses</h1>

      <div class="course-listing" ng-repeat="course in availableCourses" ng-click="addCourse()">
        <a class="course-available-title">{{course.title}}</a>
        <span>+</span>
      </div>
    </div>

  </div>

  <div class="logout-div">
    <a class="logout-btn" ng-click="logout()">Logout</a>
  </div>
</div>

<footer></footer>