<!-- <h2 class="page-header">StudyUp</h2> -->

<nav ng-show="showNav" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <!-- <a class="navbar-item" href="#!/home">
      <img src="https://bulma.io/images/bulma-logo.png">
    </a> -->
    <a class="navbar-item logo" href="#!/home">StudyUp</a>


    <h2 class="nav-header">{{title}}</h2>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div>
</nav>