<h1 class="page-header">Quiz Page</h1>
<section class="quiz-container">

  <div ng-repeat="question in questions">
    <!-- question wrapper -->
    <div class="question-wrap" ng-show="$index == currentQuestion">
      <p ng-show="matchTurn">{{matchTurn}}</p>
      <h3>{{question.description}}</h3>

      <form class="answers-form">
        <!-- answer choices, in random order -->
        <label class="answer-label" ng-repeat="answer in question.answers | orderBy:randomSort">
          <!-- disable inputs after selection is made -->
          <input type="checkbox" class="checkbox" ng-disabled="selected{{answer.question_id}}" ng-click="select()">
          <!-- highlight correct answer as green, wrong answer as red IF wrong answer is selected -->
          <span ng-model="entity.isChecked" ng-class="{ 'submitted': selected{{answer.question_id}}, 'correct': selected{{answer.question_id}}&&{{answer.id == question.answer_id}}, 'wrong': selected&&{{answer.id != question.answer_id}} }">
            {{answer.description}}</span>
        </label>
      </form>
    </div>
    <!-- question wrapper -->
  </div>
  <!-- Finished Quiz -->
  <div class="finished-container question-wrap" ng-show="completed">
    <h1>Results</h1>
    <p>{{score}} %</p>
    <a href back>Back to Course menu</a>
  </div>

</section>