// ----- App ----- //
.app-container {
  letter-spacing: 0.75px;
}

.sub-header {
  font-size: 1.1em;
  background-color: #e8e8e8;
}

// ----- Nav ----- //
.navbar {
  margin-bottom: 2em;
}
.nav-header {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 3.25rem;
}

.logo {
  font-family: magetta;
  font-size: 1.4em;
  font-weight: 600;
  color: #252121;
  text-align: center;
  z-index: 2;
}

@font-face {
  font-family: magetta;
  src: url('../styles/fonts/Magettas.otf');
}

@media (min-width: 768px) {
  .navbar-burger {
    display: none;
  }
}

// ------ Registration / Login ------ //
.auth-container {
  padding-top: 2em;
}

.loginSection {
  margin-top: 1em !important;
}

.auth-form {
  width: 14em;
  margin: auto;
  direction: inherit;
}

.auth-section-header {
  text-align: center;
  font-size: 1.1em;
}

.auth-form .button {
  width: 100%;
  background-color: #03af99f0;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.4px;
  transition: 0.2s;
}
.auth-form .button:hover {
  opacity: 0.85;
  transition: 0.2s;
}

.form-input {
  display: block;
  width: 100%;
  display: block;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  margin: 1em 0em;
}

.or-header {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #d4d3d3;
  line-height: 0.1em;
  margin: 1em auto 2em;
  color: #a0a0a0;
}

.or-header span {
  background: #fff;
  padding: 0 10px;
}

.role-select-wrap {
  text-align: center;
}
.role-select-wrap .radio {
  margin: 1em 1em 0em 0.1em;
}

.submit-div:hover span {
  opacity: 1;
  transition: opacity 0.2s;
}
.submit-div span {
  font-size: 0.8em;
  color: #f57e7e;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.2s;
}
.valid-msg {
  height: 1.5em;
}

// ------ Home Menu ------ //
.home-view {
  text-align: center;
}

.enrolled-section {
  padding-bottom: 1em;
}

.course-listing {
  margin: 0.6em 0em;
}

.addCourse {
  width: 2.1em;
  height: 1.1em;
  font-size: 18px;
  position: absolute;
  margin-left: 1em;
  opacity: 0.55;
  backface-visibility: hidden;
  transition: opacity 0.4s;
}
.addCourse:hover {
  opacity: 0.9;
}

.logout-div {
  margin-top: 2em;
}

.logout-btn {
  color: #de6262;
}
.logout-btn:hover {
  color: #e67e7e;
}

// ------ Course view ------ //
.course-container {
  text-align: center;
}

// ------ Quiz view ------ //
.question-wrap {
  position: absolute;
  width: 89%;
  max-width: 35em;
  text-align: center;
  margin: auto;
  right: 0;
  left: 0;
}

.answers-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.answer-label {
  line-height: 3em;
  border: 1px solid;
  margin-bottom: 1em;
  border-radius: 3px;
}

.answer-checkbox {
  margin-right: 1em;
  display: none;
}
// question animation
.question-wrap.ng-hide {
  z-index: 0;
  opacity: 0;
}
.question-wrap.ng-hide-add {
  transition: all linear 0.15s;
}
.question-wrap.ng-hide-remove {
  z-index: 2;
  transition: all linear 1.45s;
}

.submitted {
  opacity: 0.65;
  transition: all linear 0.19s;
}
.correct {
  color: #04b904;
  border-color: #04b904;
  transition: all linear 0.2s;
}
.wrong {
  color: red !important;
  transition: all linear 0.2s;
}
