// ----- App ----- //
.app-container {
  letter-spacing: 0.75px;
}

.sub-header {
  font-size: 1.1em;
  line-height: 2em;
  background-color: #e8e8e8;
}

.valid-msg {
  padding-top: 0.5em;
}

// ----- Nav ----- //
.navbar {
  margin-bottom: 2em;
}
.nav-header {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 3.25rem;
}

.logo {
  font-family: magetta;
  font-size: 1.4em;
  font-weight: 600;
  color: #252121;
  text-align: center;
  z-index: 2;
}

@font-face {
  font-family: magetta;
  src: url('../styles/fonts/Magettas.otf');
}

@media (min-width: 768px) {
  .navbar-burger {
    display: none;
  }
}

// ------ Registration / Login ------ //
.auth-container {
  padding-top: 2em;
}

.loginSection {
  margin-top: 1em !important;
}

.auth-form {
  width: 14em;
  margin: auto;
  direction: inherit;
}

.auth-section-header {
  text-align: center;
  font-size: 1.1em;
}

.auth-form .button {
  width: 100%;
  background-color: #03af99f0;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.4px;
  transition: 0.2s;
}
.auth-form .button:hover {
  opacity: 0.85;
  transition: 0.2s;
}

.form-input {
  display: block;
  width: 100%;
  display: block;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  margin: 1em 0em;
}

.or-header {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #d4d3d3;
  line-height: 0.1em;
  margin: 1em auto 2em;
  color: #a0a0a0;
}

.or-header span {
  background: #fff;
  padding: 0 10px;
}

.role-select-wrap {
  text-align: center;
}
.role-select-wrap .radio {
  margin: 1em 1em 0em 0.1em;
}

.submit-div:hover span {
  opacity: 1;
  transition: opacity 0.2s;
}
.submit-div span {
  display: block;
  font-size: 0.8em;
  color: #f57e7e;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.2s;
}
.valid-msg {
  height: 1.5em;
}

// ------ Home Menu ------ //
.home-view {
  text-align: center;
  text-transform: uppercase;
}

.enrolled-section {
  padding-bottom: 1em;
}

.course-listing {
  text-transform: uppercase;
  margin: 0.6em auto;
  background: #5dceb1f7;
  color: white;
  opacity: 0.85;
  line-height: 3em;
  transition: all linear 0.15s;
  width: 95%;
  backface-visibility: hidden;
}
.course-listing:hover {
  opacity: 1;
}

.course-title {
  color: white;
}
.course-title:hover {
  color: white;
  cursor: default;
}

.course-listing span {
  position: absolute;
  font-style: inherit;
  font-weight: inherit;
  font-size: 1.5em;
  line-height: 1.95em;
  padding-left: 1em;
  right: 2em;
  backface-visibility: hidden;
}

.logout-div {
  margin-top: 2em;
}

.logout-btn {
  color: #de6262;
}
.logout-btn:hover {
  color: #e67e7e;
}

// ------ Course view ------ //
.course-container {
  text-align: center;
  text-transform: uppercase;
}

.match-header {
  line-height: 2em;
}

.quiz-label {
  width: 100%;
  display: block;
}

.quiz-select-name {
  display: block;
  margin: 0.65em auto;
  width: 95%;
  max-width: 50em;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background: #f56b7b;
  line-height: 3.5em;
  opacity: 0.8;
  transition: all 0.25s linear;
  backface-visibility: hidden;
}
.quiz-select-name:hover {
  line-height: 4.5em;
}

.quiz-selected {
  opacity: 1;
  line-height: 4.5em;
}

.opponent-select-container {
  position: absolute;
  width: 100%;
  top: 22em;
}

.opponent-label {
  display: block;
  line-height: 1.75em;
  margin-bottom: 0.5em;
}

.match-submit-container {
  position: absolute;
  width: 100%;
  top: 28em;
}

.match-btn {
  border: none;
  background: #34e4b7;
  width: 100%;
  border-radius: 0;
  color: white;
  letter-spacing: 0.5px;
  font-size: 1.15em;
  height: 2.4em;
  transition: all 0.25s linear;
}
.match-btn:hover {
  color: white;
  opacity: 0.87;
}
.match-btn:disabled {
  background-color: #26ab89b3;
}

// ------ Quiz view ------ //
.question-wrap {
  position: absolute;
  width: 89%;
  max-width: 35em;
  text-align: center;
  margin: auto;
  right: 0;
  left: 0;
}

.answers-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.answer-label {
  line-height: 3em;
  border: 1px solid;
  margin-bottom: 1em;
  border-radius: 3px;
}

.checkbox {
  margin-right: 1em;
  display: none;
}
// question animation
.question-wrap.ng-hide {
  z-index: 0;
  opacity: 0;
}
.question-wrap.ng-hide-add {
  transition: all linear 0.15s;
}
.question-wrap.ng-hide-remove {
  z-index: 2;
  transition: all linear 1.45s;
}

.submitted {
  opacity: 0.65;
  transition: all linear 0.19s;
}
.correct {
  color: #04b904;
  border-color: #04b904;
  transition: all linear 0.2s;
}
.wrong {
  color: red !important;
  transition: all linear 0.2s;
}
