// ----- App ----- //
.app-container {
  max-width: 1024px;
  margin: auto;
}

.sub-header {
  font-size: 1.1em;
  line-height: 2em;
  background-color: #e8e8e8de;
  color: #3e5665ad;
}

.valid-msg {
  padding-top: 0.5em;
}

// ----- Nav ----- //
.navbar {
  margin-bottom: 2em;
  padding: 0em 0.5em;
  background: #080808cf;
  background: #3e5665;
  color: white;
}

.navbar-brand {
  width: 100%;
  height: 3.5em;
}

.nav-header {
  position: absolute;
  width: 97%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 3.5rem;
}

.nav-score {
  display: block;
  line-height: 0.5em;
  font-size: 0.8em;
  color: #ff9c7b;
  padding-top: 0.5em;
}
.nav-score-text {
  font-size: 0.59em;
  vertical-align: bottom;
  line-height: 0.7em;
  letter-spacing: 0.3px;
}

.nav-menu {
  margin-left: auto;
}

.menu-btn {
  border: none;
  background: none;
}

.menu-icn {
  height: 2.3em;
  opacity: 0.75;
  transition: all linear 0.2s;
}
.menu-icn:hover {
  opacity: 0.93;
}

.notify-icn {
  background: #ff6767;
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  top: 1.1em;
  right: 0.1em;
}

.logo {
  font-family: magetta;
  font-size: 1.4em;
  font-weight: 600;
  color: #5c7686ed;
  text-align: center;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  color: #fbfbfb70 !important;
}

@font-face {
  font-family: magetta;
  src: url('../styles/fonts/Magettas.otf');
}

@media (min-width: 768px) {
  .navbar-burger {
    display: none;
  }
}

// ----- Bottom Nav ------ //
.bottom-navbar {
  background-color: #2f4a5aed;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1023px;
  display: flex;
  justify-content: space-around;
}

.bottom-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  line-height: 3.5em;
  opacity: 0.78;
  transition: all 0.2s ease-in-out;
}

.bottom-navbar a:hover {
  opacity: 1;
}

.home-icn {
  height: 1.5em;
  vertical-align: middle;
}
.trophy-icn {
  width: 1.6em;
  vertical-align: middle;
  height: 1.5em;
}
.back-icn {
  height: 1.51em;
}

// ------ Registration / Login ------ //
.auth-container {
  padding-top: 2em;
}

.loginSection {
  margin-top: 1em !important;
}

.auth-form {
  width: 14em;
  margin: auto;
  direction: inherit;
}

.auth-section-header {
  text-align: center;
  font-size: 1.1em;
}

.auth-form .button {
  width: 100%;
  background-color: #03af99f0;
  color: whitesmoke;
  font-weight: 600;
  letter-spacing: 0.4px;
  transition: 0.2s;
}
.auth-form .button:hover {
  opacity: 0.85;
  transition: 0.2s;
}

.form-input {
  display: block;
  width: 100%;
  display: block;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  margin: 1em 0em;
}

.or-header {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #d4d3d3;
  line-height: 0.1em;
  margin: 1em auto 2em;
  color: #a0a0a0;
}

.or-header span {
  background: #fff;
  padding: 0 10px;
}

.role-select-wrap {
  text-align: center;
}
.role-select-wrap .radio {
  margin: 1em 1em 0em 0.1em;
}

.submit-div:hover span {
  opacity: 1;
  transition: opacity 0.2s;
}
.submit-div span {
  display: block;
  font-size: 0.8em;
  color: #f57e7e;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.2s;
}
.valid-msg {
  height: 1.5em;
}

// ------ Home Menu ------ //
.home-view {
  text-align: center;
  text-transform: uppercase;
}

.enrolled-section {
  padding-bottom: 1em;
}

.course-listing {
  text-transform: uppercase;
  margin: 0.6em auto;
  background: #5dceb1f7;
  border-radius: 7px;
  color: white;
  opacity: 0.85;
  line-height: 3em;
  transition: all linear 0.15s;
  width: 90%;
  backface-visibility: hidden;
}
.course-listing:hover {
  opacity: 1;
}

.course-title {
  color: white;
  display: block;
}
.course-title:hover {
  color: white;
  cursor: default;
}
.course-available-title {
  color: white;
}
.course-available-title:hover {
  color: white;
  cursor: default;
}

.course-listing span {
  position: absolute;
  font-style: inherit;
  font-weight: inherit;
  font-size: 1.5em;
  line-height: 1.95em;
  padding-left: 1em;
  right: 3em;
  backface-visibility: hidden;
}
@media (min-width: 1024px) {
  .course-listing span {
    left: 38em;
  }
  .app-container {
    border-left: 1px solid #00000026;
    border-right: 1px solid #00000026;
  }
}

.logout-div {
  margin-top: 2em;
}

.logout-btn {
  color: #de6262;
}
.logout-btn:hover {
  color: #e67e7e;
}

// ------ Course view ------ //
.course-container {
  text-align: center;
  text-transform: uppercase;
  min-height: 100vh;
}

.matchForm-header {
  line-height: 2em;
  margin-bottom: 1em;
}

.matchForm {
  margin-bottom: 1em;
}

.select-wrap {
  margin-bottom: 1em;
}

.quiz-select-name {
  display: block;
  margin: 0.65em auto;
  width: 90%;
  max-width: 50em;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  background: #f56b7b;
  line-height: 3.5em;
  opacity: 0.8;
  transition: all 0.25s linear;
  backface-visibility: hidden;
}
.quiz-select-name:hover {
  opacity: 1;
}

.quiz-selected {
  opacity: 1;
}

.opponent-label {
  display: block;
  line-height: 1.75em;
  margin-bottom: 0.75em;
}

.match-listing a {
  text-transform: none;
}

.match-btn {
  border: none;
  background: #34e4b7;
  width: 100%;
  border-radius: 0;
  color: white;
  letter-spacing: 0.5px;
  font-size: 1.15em;
  height: 2.4em;
  transition: all 0.25s linear;
}
.match-btn:hover {
  color: white;
  opacity: 0.87;
}
.match-btn:disabled {
  background-color: #26ab89b3;
}

// ------ Quiz view ------ //
.match-header {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1em;
  background: #60d89ec2;
}

.question-wrap {
  // position: absolute;
  width: 89%;
  max-width: 35em;
  text-align: center;
  margin: auto;
  right: 0;
  left: 0;
}

.answers-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.answer-label {
  line-height: 3em;
  border: 1px solid;
  margin-bottom: 1em;
  border-radius: 3px;
}

.checkbox {
  margin-right: 1em;
  display: none;
}
// question animation
.question-wrap.ng-hide {
  z-index: 0;
  opacity: 0;
}
.question-wrap.ng-hide-add {
  transition: all linear 0.15s;
}
.question-wrap.ng-hide-remove {
  z-index: 2;
  transition: all linear 1.45s;
}

.submitted {
  opacity: 0.65;
  transition: all linear 0.19s;
}
.correct {
  color: #04b904;
  border-color: #04b904;
  transition: all linear 0.2s;
}
.wrong {
  color: red !important;
  transition: all linear 0.2s;
}

.quiz-timer-wrap {
  position: relative;
  margin: auto;
  margin-top: 0.5em;
  height: 40px;
  width: 40px;
  text-align: center;
}
.timer-count {
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: aquamarine;
  fill: none;
  animation: countdown 16s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

// Finished quiz
.finished-header {
  font-size: 2.75em;
  font-weight: 500;
  margin-bottom: 0.4em;
}

.finished-a {
  width: 90%;
  display: block;
  margin: 1em auto;
  background: #2f4a5acc;
  line-height: 2.5em;
  border-radius: 5px;
  color: white;
}

// ------ Leaderboard ------ //
.board-container {
}

.board-label {
  display: flex;
  flex-flow: row nowrap;
  padding: 0px 14% 0px 7%;
  line-height: 3.5em;
  background-color: #e8e8e8de;
  color: #3e5665ad;
  margin-top: -2em;
}

.board-list-wrap {
  background: linear-gradient(#f94e46, #ffcab1);
  font-weight: 500;
}

.board-listing {
  display: flex;
  flex-flow: row nowrap;
  padding: 0px 14% 0px 7%;
  line-height: 3em;
  border-bottom: 1px solid #d9d9d95c;
  color: white;
}

.board-ranking {
  flex-basis: 25%;
  min-width: 4em;
  max-width: 10em;
  text-align: center;
}
.board-title {
  flex-basis: 75%;
  min-width: 10em;
  padding-left: 0.5em;
}
.board-score {
  text-align: center;
  min-width: 2.5em;
}

.board-listing .board-title {
  color: white;
}
.board-listing .board-title:hover {
  opacity: 0.75;
}
